<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-11-19T16:02:05Z</date>
	<key>WorkspacePath</key>
	<string>/Users/user/src/github.com/hirotaka42/ios-start-with/start-with/start-with.xcodeproj</string>
</dict>
</plist>
